body{
    background-color: #f3f3f3;
    font-family: 'Source Sans Pro', sans-serif;
}
.btn:focus, .btn:active{
    outline: none !important;
}
a:hover{
    text-decoration: none;
}
.navbar-brand{
padding:5px 0 0 0;
}
.navbar-brand>img{
    max-height:40px;
}
ul li{
    list-style-type: none;
}
.top-bar{
    background-color: #282f39;
    color: #fff;
    z-index: 1;
    position: relative;
    margin-bottom: 15px;
}
a.dropdown-toggle {
    color: #fff;
    cursor: pointer;
  }
.top-bar-right{
    float: right;
    transform: translateY(60%);
}
.top-bar-right > li{
    display: inline-block;
    margin-right: 20px;
 }

.top-bar-right li a{
    line-height: normal;
}

span.profile-icon {
    max-width: 30px;
    height: auto;
}
.theme-color{
    background-color: #ffcc00;
}
.white-font{
    color: #fff;
}
/*navigation*/
.nav-part {
    background: #fff;
    box-shadow: 0px 0px 3px #dfdff1;
    padding: 10px 0px 5px;
    margin: 0px 0px 10px 0px;
}
.nav-part li{
    display: inline-block;
    padding: 5px 10px;
    min-width: 90px;
    text-align: center;
}
.profile-pic img{
    max-width: 25px;
 }
.nav-part li a{
    display: block;
    text-decoration: none;
    color:#333;
}
.nav-part li a i {
    padding: 12px 5px;
    border: 1px solid rgba(255, 204, 0, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.nav-part li a:hover i {
    background-color: rgba(255, 204, 0, 1);
}
.btn-info, .btn-info:hover{
    background: rgba(255, 204, 0, 1);
    border-color:rgba(255, 204, 0, 1);
}
.nav-part li a span {
    display: block;
    font-size: 13px;
}
.buy-number-section .filter-button{ text-align:right;}
.buy-number-section {
    box-shadow: 1px 1px 2px #DDE;
    padding: 15px 0px 5px 0px;
}
.buy-number-section h2 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px;
    padding: 5px 15px 10px;
}

/* leftnav*/

    .left-nav .list-group{
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
        -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
    }
    .left-nav .list-group-item{
    padding: 10px 20px;
    border: 1px solid #ececec;
    }
    .left-nav .list-group-item:first-child{
    padding: 10px 20px 10px 50px;
    }
    .left-nav .list-group-item i {
    margin: 0 16px 0 0;
    width: 12px;
    }
    .list-group-item.active{
        background-color: rgba(255, 204, 0, 1);
        border:0;
    }
    .list-group-item.active:hover{
        background-color: rgba(255, 204, 0, 1);
            }
/*table*/
.navbar-inverse{background:#282F39}
.table > thead > tr > th {border-bottom: none;background: #F8F8F8;}
.table > tbody > tr > td{ border-color:#f8f8f8; }
#search-icon { position: absolute; right:auto; }
.form-control{ text-indent:15px }
.filter-button{ text-align:center; }
.filter-button .btn-default, .filter-button .btn-default:hover{ background:transparent; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
	color: #000;
	cursor: default;
	background-color: #fff;
	border: 0;
	/* border-bottom-color: transparent; */
	border-bottom: 2px solid #FFCC00;
}
.nav-tabs > li.active > a:hover{ border:none ; border-bottom: 2px solid #FFCC00; }
.nav > li > a,.nav > li > a:hover{ background:none ; border:0; color:#000;}
#exTab2{margin-bottom:5px; }
.bg-white{
    background-color: #fff;
}
.table-modal .modal-dialog{
	width: 400px;
}
.video-call-modal .modal-dialog{
	width: 500px;
}
.table-modal .modal-content, .video-call-modal .modal-content{
	border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.table-modal .modal-header, .video-call-modal .modal-header {
    padding: 7px 20px;
    border-bottom: none;
    background: #eee;
}
.table-modal .modal-title, .video-call-modal .modal-title{
    font-size: 16px;
    color: #444;
    font-weight: 600;
}
.table-modal .modal-body, .video-call-modal .modal-body{
    padding: 20px 20px;
}
ul.breadcrumb {
    background: none;
    padding-left: 0px;
    color: #333;
    margin-bottom:5px;
}
ul.breadcrumb li a {
    color: #333;
}
.btn-info{
    color:#333;
}
.btn-primary, .btn-primary:hover {
    color: #333333!important;
    background-color: #ffcc00;
    border-color: #ffcc00;
}
.btn-primary:focus, .btn-primary:active {
    color: #333;
    background-color: #ffcc00 !important;
    border-color: #ffcc00 !important;
}
.left-nav .list-group-item.active,.left-nav  .list-group-item.active:focus,.left-nav .list-group-item.active:hover{
    color:#333;
}
.table-hover>tbody>tr:hover {
    background-color: #ffcc0059;
    cursor: pointer;
}
.breadcrumb>li+li:before{
    content: "\003e";
    font-weight:400;
    color:#333;
}
.table-modal .modal-footer {
    padding: 10px 20px 20px;
    border-top: none;
	text-align: center;
}
.video-call-modal .modal-footer {
    padding: 10px 20px 20px;
    border-top: none;
}
.table-modal .modal-header .close, .video-call-modal .modal-header .close{
	font-size: 29px;
    font-weight: normal;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 19px 12px;
    z-index: 1;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.hr-divider{
	margin: 34px 0 24px;
}
.modal-backdrop{
    background-color: transparent;
}
.buy-number-section:after {
    content: '';
    display: block;
    clear: both;
}
.table-modal.modal.fade .modal-dialog, .video-call-modal.modal.fade .modal-dialog{
    top: 50%;
    right: 0;
    position: absolute;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.table-modal.modal.in .modal-dialog, .video-call-modal.modal.in .modal-dialog{
    -webkit-transform: translate(-4%, -50%);
    -ms-transform: translate(-4%, -50%);
    -o-transform: translate(-4%, -50%);
    transform: translate(-4%, -50%);
}
.table-modal .form-control, .video-call-modal .form-control{
    text-indent: 0;
}
.table-modal, .video-call-modal{
    position: absolute;
}
.modal-open {
    overflow: auto !important;
    padding-right: 0 !important;
}
.modal-open .container{
    position: relative;
}
.buy-number td{
    width:25%;
}
.buy-number-button {
    margin-bottom: 12px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{background-color: #ffcc00;
    border-color: #ffcc00;}

/*loding spinner*/
.loding-blck-text {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}
.xv-circle {
    margin: 40px auto 15px auto;
    width: 60px;
    height: 60px;
    position: relative;
  }
  .xv-circle .xv-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .xv-circle .xv-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #ffbc00;
    border-radius: 100%;
    -webkit-animation: xv-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: xv-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .xv-circle .xv-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .xv-circle .xv-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .xv-circle .xv-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .xv-circle .xv-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .xv-circle .xv-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .xv-circle .xv-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .xv-circle .xv-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .xv-circle .xv-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .xv-circle .xv-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .xv-circle .xv-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .xv-circle .xv-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .xv-circle .xv-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .xv-circle .xv-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .xv-circle .xv-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .xv-circle .xv-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .xv-circle .xv-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .xv-circle .xv-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .xv-circle .xv-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .xv-circle .xv-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .xv-circle .xv-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .xv-circle .xv-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .xv-circle .xv-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
  @-webkit-keyframes xv-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes xv-circleBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
/*loding spinner end*/

.no-record {
    background-color: #fcf8e2;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    color: #8b6e37;
    font-weight: 500;
    border: 1px solid #fbf3d9;
    margin-bottom: 10px;
}

/*custom scroll bar*/
.datascrollbar {
    height: 350px;
    overflow-y: scroll;
}

.datascrollbar-overflow {
    min-height: 450px;
}

#scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 

#scrollbar::-webkit-scrollbar-thumb {
    background-color: #282f39;
}

#scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
/*custom scroll bar end*/
/*Video call modal start*/
#share-field, #invite-field{
    border-radius:4px; 
}
#share-field + span, #invite-field + span{
    padding: 0 0 0 16px;
}
#share-field + span button, #invite-field + span button{
    border-radius:4px; 
    color: #888;
}
#invite-field + span button.plus-icon{
    font-size: 30px;
    line-height: 20px;
}
.invite-someone-text{
    font-size: 16px;
    font-weight: bold;
    padding: 30px 0;
}
.people-tag {
    font-size: 15px;
    color: #777;
    display: inline-block;
    position: relative;
    padding: 0 32px 0 12px;
    line-height: 26px;
    margin: 0 0 6px;
}
.people-tag a {
    font-size: 24px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: 26px;
    height: 26px;
    text-align: center;
    color: #888;
    line-height: 26px;
}
.people-tag a:focus{
    text-decoration: none;
}
.video-call-modal .modal-header .close.minus{
    right: 34px;
}
/*Video call modal end*/